body {    
    background-image: url('../Imagenes/Fondo.jpg');
}

#caja_registro, #caja_logIn {
	width: 50%;
	margin: auto;
	padding: 20px;
}

.validacion {
    color: orangered;
}

#presentacion {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #0058d1;
}

.labelreg {
    color: dimgrey;
    font-weight: bold;
    
}

.form-group {
    margin-bottom: 12px;
}

.centroPag {
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn btn-primary {
    padding: 14px 60px;
}