

.container .primario {
    float: left;
    width: 50%;
    text-align: center;
}

.container .secundario {
    margin-left: 50%;
}

h1 {
    text-align: center;
}

#auspiciador img,h2 {
    padding: 15px 0 15px 0;
}

.subtitulo{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(63, 182, 182, 0.45);
}