body {
    background-image: url(https://static1.squarespace.com/static/555375fde4b015ee7186e999/t/55ce1938e4b06c2348a4b1bf/1439570234867/background.jpg);
}

#caja_registro, #caja_logIn {
	width: 50%;
	margin: auto;
	padding: 20px;
}

.validacion {
    color: orangered;
}

#presentacion {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 300px;
    background-color: lightgrey;
    border-radius: 10px;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: Highlight;
}

.labelreg {
    color: dimgrey;
    font-weight: bold;
    
}

.form-group {
    margin-bottom: 0px;
}

.centroPag {
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn btn-primary {
    padding: 14px 60px;
}